#root {
    -fx-background-image: url("../Images/Hintergrund.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#yearDay{
    -fx-translate-x: 541;
    -fx-translate-y: 736;
    -fx-text-fill: white;
    -fx-font-family: "Berlin Sans FB Demi Bold";
    -fx-font-size: 24px;
}

#currentCity{
    -fx-translate-x: 568;
    -fx-translate-y: 373;
    -fx-text-fill: "#eff542";
    -fx-font-family: "Berlin Sans FB Demi Bold";
    -fx-font-size: 24px;
}



.current-day{
    -fx-pref-height: 234.0;
    -fx-pref-width: 156.0;
    -fx-translate-y: 469;
    -fx-background-color: "f6e3bd";
    -fx-background-radius: 11px;
}

.white-background {
    -fx-pref-height: 234.0;
    -fx-pref-width: 156.0;
    -fx-translate-y: 469;
    -fx-background-color: "FFFFFF";
    -fx-background-radius: 11px;
}

#searchbar{
    -fx-translate-x: 526;
    -fx-translate-y: 388;
}

#title-style{
    -fx-font-family: "ITALIC";
    -fx-font-style: italic;
    -fx-font-size: 60px;
    -fx-translate-x: 430;
    -fx-translate-y: 188;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-text-shadow: 2 2 5;
}
.custom-bold {
    font-weight: bold;
}

.hover-box:hover {
    cursor: pointer;
}

#button-style{
    -fx-background-color: "#eff542";
    -fx-cursor: hand;
    -fx-padding: 1px;
    -fx-pref-height: 25;
    -fx-pref-width: 75;
    -fx-text-fill: black;
    -fx-translate-x: 691;
    -fx-translate-y: 388;
    -fx-font-family: "Berlin Sans FB Demi Bold";
    -fx-font-size: 16px;
}

#test{
    -fx-translate-x: 556;
    -fx-translate-y: 512;
    -fx-fill:white ;
    -fx-font-weight: bold;
}

.status{
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-translate-y: -16;
    -fx-wrap-text: true;
    /*-fx-alignment: center ;*/
    /*-fx-text-alignment: center;*/

}

.temp{
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size: 23px;
}

.dayFont{
    -fx-fill: white;
    -fx-font-family: "Berlin Sans FB Demi Bold";
    -fx-font-size: 20px;
    -fx-translate-y: 451;
}

#cityText{
    -fx-translate-x: 486;
    -fx-translate-y: 405;
    -fx-fill: white ;
    -fx-font-weight: bold;
    -fx-font-family: "Berlin Sans FB Demi Bold";
    -fx-font-size: 21px;
}

.errorMessage1{
    -fx-font-family: "Berlin Sans FB Demi Bold";
    -fx-font-size: 24px;
    -fx-translate-x: 770;
    -fx-translate-y: 319.0;
    -fx-text-fill: "#eb2525";
}

.imagesWeather{
    -fx-pref-height: 64;
    -fx-pref-width: 64;
    /*-fx-alignment: center;*/
}